:host ::ng-deep .p-timeline-event-content {
    padding-bottom: 2rem;
}

/* Paginator PrimeNG override (Regla de Diseño) */
:host ::ng-deep .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    background: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
    color: white !important;
}